@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto";
  font-weight: 400;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
h1 {
  font-weight: 700;
  font-size: 30px;
  background-color: rgb(250, 49, 149);
  padding: 30px;
  display: inline-block;
  border-radius: 30px;
  border: 5px solid rgb(82, 80, 80);
  position: fixed;
  z-index: 5;
  left: 70px;
  top: 0;
}
.block-1 {
  background-color: rgb(15, 199, 92);
  position: relative;
  top: 30px;
  left: 50px;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
  border: 3px solid rgb(221, 108, 108);
}
.block-2 {
  background-color: aqua;
  position: sticky;
  z-index: 2;
  top: 0;
  border: 3px solid #000;
}

.block-3 {
  background-color: rgb(151, 24, 224);
  position: relative;
  z-index: 0;
  top: -100px;
  right: 80px;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid rgb(8, 19, 13);
}

.block-4 {
  background-color: bisque;
  position: relative;
  bottom: 210px;
  z-index: 1;
  border: 1px solid rgb(8, 19, 13);
}
.block-about {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  background-color: rgb(131, 127, 123);
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid rgb(9, 141, 69);
}
.block-5 {
  background-color: rgb(194, 159, 226);
  position: relative;
  right: 100px;
  border-radius: 5px;
  overflow: hidden;
  border: 4px solid rgb(216, 132, 255);
  padding: 10px 0 0 0;
  
}
.list__item {
	position: relative;
	padding: 0 0 0 30px;
	margin-bottom: 8px;
}
.list__item::before {
  position: absolute;
  content: "";
  background-color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -1px;
}
.footer {
  background-color: rgba(253, 255, 254, 0.973);
  position: sticky;
  bottom: 100px;
  z-index: 3;
  border-radius: 30px;
  overflow: hidden;
  border: 3px solid rgb(41, 255, 105);
}
